@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-stroke-1 {
    -webkit-text-stroke-width: 1px;
  }

  .text-stroke-2 {
    -webkit-text-stroke-width: 2px;
  }

  .text-stroke-black {
    -webkit-text-stroke-color: black;
  }
}